<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongcheng.mapper.DiskMapper">
    <select id="findAll" resultType="Disk">
        SELECT  * FROM t_disk
    </select>
    <select id="findByFid" resultType="Disk">
        SELECT * FROM  t_disk WHERE fid=#{fid}
    </select>

</mapper>